.container{
    width: 100%;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
}
.product_cont{
    width: 100%;
    height: auto;
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 50px;
    padding-top: 30px;
    padding-left: 30px;
}

/* .filteredItem{
    width: 80px;
    height: 80px;
    background-color: black;
} */